pom.xml
pom.xml.asc
*.jar
*.class
*.tfvars
*.tfstate*
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/terraform/gcp-*.json
tiira-watcher-dev*.json
.idea
.lein-env
.terraform*
.pw.txt
